<%= stylesheet_link_tag "general"%>
<div class="container">
	<br>
	<p>
		<%Question.find_each do |q|%>
			<%= q.order%><%= link_to q.ask, {:controller => "questions", :action => "change"}%>
			<br>
			<br>
			<br>
			<br>
		<%end%>
	</p>
	<p>
	</p>
</div>