<%= stylesheet_link_tag "general"%>
<div class="container">
	<br>
	<p class="centered">
		<%= link_to "English", {:controller => "questions", :action => "main", :follow => false, :language => "English"} , :class=> "rounded_button login_button"%>
		<%= link_to "Spanish", {:controller => "questions", :action => "main", :follow => false, :language => "Spanish"} , :class=> "rounded_button login_button"%>
	</p>
	<p class="centered">
		<%= link_to "Edit Questions", {:controller => "questions", :action => "edit"} , :class=> "rounded_button login_button"%>
	</p>
</div>