<%= stylesheet_link_tag "survey_questions" %>
<div class = "question_body">
<p>
	Thank you for participating in the Family Advocacy Program Application. Based on your responses, you may find these resources helpful. If you have any additional questions or concerns about resources, please contact the Family Advocacy Program:

Telephone: (650) 517-8904

E-mail: fguzman@legalaidsmc.org

Peninsula Family Advocacy Program of 
Legal Aid Society of San Mateo County
The Natalie Lanam Justice Center
Sobrato Center for Nonprofits - Redwood Shores
330 Twin Dolphin Drive, Suite 123 
Redwood City, CA 94065
</p>
<br>
Date:
<br>
<table>
	<tr>
		<td>
			Resource Description
		</td>
		<td>
			Contact Info
		</td>
		<td>
			Did I Contact Them?
		</td>
	</tr>
</table>
</div>