<%= stylesheet_link_tag "general"%>
<div class="container">
	<br>
	<p class="centered">
		<%= link_to "Edit", {:action => "login"} , :class=> "rounded_button login_button"%>
<%= link_to "Survey", {:controller => "survey", :action => "language", :number => 0, :follow => false, :answer => 0} , :class=> "rounded_button login_button"%>
</p>
</div>