<%= stylesheet_link_tag "general"%>
<div class="container">
	<br>
	<p class="centered">
		<%= link_to "Edit", {:controller => "questions", :action => "main", :follow => false} , :class=> "rounded_button login_button"%>
<%= link_to "Survey", {:controller => "survey", :action => "view", :number => 0, :follow => false, :answer => 0, :patient => @patient_id} , :class=> "rounded_button login_button"%>
</p>
</div>