table{
	width: 100%;
}
div {
	font-size: 20px;
	font-family:"Gotham", Arial, Verdana,sans-serif;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
	width: 50%;
}
td{
	text-align: left;
    font-size: 20px;
}

.table_header {
	padding-top: 20px;
	padding-bottom: 15px;
	border-bottom:2px solid black;
	font-weight: bold;
	font-size: 20px;
	border-top: none;
	
}
.centered_text{
	text-align: left;
}
.dashed_line{
	border-bottom:1px dashed black;
}
.map{
padding-top: 20px;
	padding-right: 20;
	padding-bottom:20px;
}

img.left{
	display: block;
}